@model EcoTravel_MVC.Models.ModelViews.Client.ClientDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Votre compte s'est crée avec succès !</h1>
<div>
<h4>Voici un résumé de vos informations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telephone)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <div>
        <a asp-controller="Auth" asp-action="Login">Veuillez maintenant vous connecter !</a>
    </div>
    <div>
        <a asp-controller="Logement" asp-action="Index">Liste des logements</a>
    </div>
</div>
