@model IEnumerable<EcoTravel_MVC.Models.ModelViews.Logement.LogementListItems>

@{
    ViewData["Title"] = "Index";
}

<h1>Tous nos logements</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prixNuitPersonne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descriptionCourte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proprietaire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prixNuitPersonne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descriptionCourte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categorie)
            </td>
            <td>
                <a asp-controller="Proprietaire" asp-action="Details" asp-route-Id="@item.idProprietaire">
                    @Html.DisplayFor(modelItem => item.proprietaire)
                </a>
            </td>
            <td>
                @Html.ActionLink("Voir le détail", "Details", new { id = item.idLogement })
            </td>
        </tr>
}
    </tbody>
</table>
